<div class="header">

  <div class="p-2">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center">
        <!-- studiarsi come fare un router link unico per PT e USER -->
        <a (click)="redirect()" class="d-flex align-items-center text-decoration-none">
          <img class="logo" src="../../../assets/logo.png" alt="Logo">
        </a>
      </div>
    </div>
  </div>

  <div class="user" *ngIf="isUserLogged()">
    <p>{{user.username}}<span> #{{user.id}}</span></p>
  </div>
  <div class="settings" *ngIf="isUserLogged()">
    <a [routerLink]="['/settings']"><fa-icon [icon]="settings"></fa-icon></a>
  </div>

</div>
