@use '../../../../styles.scss';

.details-container{
  position: relative;
  height: 1px;
  background-color: transparent;
  .details{
    position: absolute;
    width: 250px;
    height: 300px;
    bottom: 1px;
    left: 0px;
    background-color: styles.$black;
    border-radius: 10px;
    overflow: scroll;
    .details-head{
      border-radius: 10px 10px 0px 0px;
      border-bottom: 1px solid styles.$black;
      background-color: styles.$orange;
      color: styles.$black;
      position: sticky;
      top: 0px;
      z-index: 3;
      .back-btn{
        background-color: transparent;
        border: none;
        font-size: 30px;
        position: absolute;
        left: 0px;
        bottom: -4px;
      }
    }
    .details-body{
      .exercises, .workouts, .plans{
        ul{
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          li{
            list-style: none;
            height: 3rem;
            background-color: styles.$grey;
            margin-bottom: 1rem;
            padding-left: 1rem;
            position: relative;
            border-radius: 0 10px 10px 0;
            box-shadow: 3px 5px 5px #191919;;
            p{
              font-size: 1rem;
              color: white;
            }

          }
        }
      }
      .exercises{
        ul{
          li{
            padding: 0px;
            .ex-content{
              display: flex;
              background-color: red;
              justify-content: flex-end;
              height: 3rem;
              .ex-name{
                width: 100%;
                background-color: beige;
                border: 1px solid black;
              }
              .ex-name, .ex-reps, .ex-series{
                background-color: beige;
                display: flex;
                border: 1px solid black;
                justify-content: center;
                align-items: center;
                padding: 7px;
              }
              .ex-reps, .ex-series{
                width: 50px;
                font-weight: 600;
                padding: 0px;
                font-size: 1.9rem;
              }
            }
          }
        }
      }

      .workouts, .plans{
        ul{
          li{
            p{
              line-height: 45px;
            }
          }
        }
        .deets-btn{
          position: absolute;
          right: 0px;
          height: 3rem;
          width: 36px;
          background-color: styles.$black;
          color: styles.$orange;
          border: none;
          font-size: 1.8rem;
          margin-left: 1px;
          border-radius: 0 10px 10px 0;
        }
        .deets-btn:active{
          color: styles.$white;
          background-color: styles.$grey;
        }
      }
      .add-plan{
        .add-plan-btn{
          background-color: transparent;
          border: none;
          outline: 1px solid styles.$orange;
          border-radius: 5px;
          color: styles.$orange;
          font-style: italic;
        }
        .add-plan-btn:active{
          background-color: styles.$orange;
          color: styles.$black;
        }
      }
    }
  }
}

@media screen and (min-width: 356px){
  .details-container{
    .details{
      width: 160px;
      height: 230px;
      bottom: 0px;
      left: 0px;
      .details-body{
        .exercises, .workouts, .plans{
          ul{
            li{
              padding-left: 10px;
              p{
                font-size: 0.8rem;
              }
              .deets-btn{
                width: 25px;
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px){
  .details-container{
    .details{
      width: 250px;
      height: 300px;
      .details-body{
        .exercises, .workouts, .plans{
          ul{
            li{
              p{
                font-size: 1rem;
              }
              .deets-btn{
                width: 36px;
                font-size: 1.8rem;
              }
            }
          }
        }
      }
    }
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounceInLeft {
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInLeft {
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

//hiding scrollbar
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 0px;

}


