

<div class="input-group wrkt" *ngIf="!deleted">
  <p class="form-control" aria-label="workout-list">{{wrk.name}}</p>
  <button class="btn btn-outline-secondary" type="button"><fa-icon [icon]="faEdit" class="me-3"></fa-icon></button>
  <button (click)="deleteWorkoutSwal.fire()" class="btn btn-outline-secondary" type="button"><fa-icon [icon]="faTrash"></fa-icon></button>
</div>

<form [formGroup]="editWorkout">

  <div class="my-2">
    <div class="form-floating">
      <input formControlName="name"
      type="text" class="form-control"
      id="workoutName" placeholder="Name your workout">
      <label for="workoutName">Name your workout</label>
    </div>
  </div>

  <!-- SHOW ADDED EXERCISES -->
  <div *ngFor="let newEx of workoutExercises"  class="input-group mb-3">
    <input type="text" class="form-control"
    aria-label="new-workout" placeholder="{{newEx.exercise.name}}  {{newEx.reps}} x {{newEx.series}}" readonly>
    <button (click)="removeExercise(newEx)" class="btn btn-outline-secondary text-white"
    type="button" id="button-addon2">Remove</button>
  </div>

  <button
    [ngClass]="workoutExercises.length == 0 ? 'disabled' : ''"
    [swal]="workoutEditedSwal" (click)="updateWorkout()"
    id="newWorkout-btn" class="w-100 btn btn-lg btn-primary mb-2"
    type="submit">Add workout
  </button>

</form>



<!-- MODALE -->
<swal
  #deleteWorkoutSwal
  title="Delete this workout?"
  text="You won't be able to retrieve it!"
  icon="question"
  [showConfirmButton]=true
  [showCancelButton]=true
  confirmButtonColor="#FF7517"
  confirmButtonText="Delete it"
  confirmButtonAriaLabel="Confirm delete workout"
  cancelButtonAriaLabel="Cancel delete workout"
  cancelButtonColor="#2C2727"
  (confirm)="deleteWorkout(wrk.id)"
  >
</swal>

<swal
  #workoutEditedSwal
  title="Workout edited."
  icon="success"
  [timerProgressBar]=true
  [timer]=1500
  >
</swal>

