<form [formGroup]="form" (submit)="postExercise()">
    <!-- MUSCLE SELECT -->
  <div class="my-2">
    <select (change)="getExercise()"
    class="form-select form-select-lg mb-3"
    aria-label="muscle-select"
    formControlName="muscle">
      <option selected value=null>What muscle to train</option>
      <option *ngFor="let musc of muscles" [ngValue]=musc>{{musc}}</option>
    </select>
  </div>
  <!-- EXERCISE SELECT -->
  <div class="my-2">
    <select class="form-select form-select-lg mb-3"
    aria-label="exByMuscle-select"
    formControlName="exercise">
      <option selected [ngValue]=null>Exercise based on muscle</option>
      <option *ngFor="let ex of exercises" [ngValue]="ex">{{ex.name}}</option>
    </select>
  </div>
  <!-- REPS -->
  <div class="d-flex">
    <div class="form-floating my-2 me-2">
      <input formControlName="reps"
      type="number" class="form-control"
      id="reps" placeholder="Reps">
      <label for="reps">Reps</label>
    </div>
    <!-- SERIES -->
    <div class="form-floating my-2">
      <input formControlName="series"
      type="number" class="form-control"
      id="series" placeholder="Series">
      <label for="series">Series</label>
    </div>
  </div>

  <button [disabled]="!form.valid" id="newex-btn"
  class="w-100 btn btn-lg btn-primary mb-2" type="submit">Create exercise</button>

</form>
