/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$orange: #FF7517;
$grey: #3E3939;
$black: #2C2727;
$white: #F6F4F4;

body{
  background-color: $grey;
}
