
<div class="form-container">
  <form [formGroup]="editPassword" (submit)="updatePassword()">

    <!-- CURRENT PASSWORD -->
    <div class="form-floating my-2 edit-name">
      <input formControlName="oldPassword"
      type="password" class="form-control"
      id="oldPassword" placeholder="Old password">
      <label for="oldPassword">Old password</label>
    </div>
    <!-- NEW PASSWORD -->
    <div class="form-floating my-2 edit-name">
      <input formControlName="newPassword"
      type="password" class="form-control"
      id="newPassword" placeholder="New password">
      <label for="oldPassword">New password</label>
    </div>

    <!-- CONFIRM NEW PASSWORD -->
    <div class="form-floating my-2 edit-name">
      <input formControlName="confirmPassword"
      type="password" class="form-control"
      id="confirmPassword" placeholder="Confirm new password">
      <label for="oldPassword">Confirm new password</label>
    </div>

    <button id="pswrd-btn" [disabled]="editPassword.invalid"
    class="w-100 btn btn-lg btn-primary mb-2" type="submit">Update</button>

  </form>
</div>
