
@use '../../../styles.scss';

.new-workout{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .contour{
    max-width: 450px;
    background-color: styles.$black;
    border-radius: 10px;
    box-shadow: 0px 0px 12px 12px rgb(0 0 0 / 35%);
    h1{
      color: styles.$orange;
    }
    p{
      color: styles.$white;
    }
    .help-tt-btn{
      color: styles.$orange;
      font-size: 25px;
      background-color: transparent;
      border: none;
    }
  }
}
.form-newWorkout{
  padding: 10px;
  background-color: styles.$grey;
  min-width: 180px;
  max-width: 400px;
  box-shadow: 0px 0 12px 3px #00000082;
  border-radius: 10px;

}
