@use '../../../styles.scss';

.navfoot{
  width: 100vw;
  height: 3rem;
  background-color: styles.$orange;
  box-shadow: inset 0px 0 16px 3px #702f00fc;
  position: fixed;
  bottom: 0px;
  .action-btn, .plus-btn{
    width: 3rem;
    height: 3rem;
    background-color: styles.$black;
    border: none;
    border-radius: 20px;
  }
  .plus-btn{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 3px 19px 3px #3e3939;
  }
  fa-icon{
    color:styles.$orange;
    font-size: 1.2rem;
  }
  .action-btn{
    box-shadow: 3px 4px 6px 0px #1f1f1f;
  }
  .plus-btn:active, .action-btn:active{
    background-color: styles.$grey;
  }
  .actions{
    width: 100vw;
    max-width: 300px;
    min-width: 200px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    transform: scale(0);
  }

}

.pop-up{
  animation-name: popUp;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 1.07, 0.35, 1.29);
}

@keyframes popUp {
  0%{
    transform: translateY(-50%,0%)scale(0);
  }
  50%{
    transform: translate(-50%,-100%)scale(0.5%);
  }
  100%{
    transform: translate(-50%,-200%)scale(1);
  }
}

// WHY U NO WORK
#modalpls{
  .my-modal-window{
    .modal-content{
      .modal-header{
      color: red;
      }
    }
  }
}

.my-modal-backdrop{
  background-color: red;
}



@media screen and (min-width: 768px) {
  .navfoot{
    left: 0px;
    width: 3rem;
    height: 100vh;
    position: fixed;
    .plus-btn{
      position: absolute;
      top: 20%;
      left: 100%;
      transform: translate(-50%, -50%);
      box-shadow: 0px 3px 19px 3px #3e3939;
    }
    .actions{
      position: absolute;
      left: -90%;
      top: 25%;
      transform: rotateZ(90deg)scale(0);
      .action-btn{
        transform: rotateZ(-90deg);
      }
    }
  }
  .myTooltip{
    transform: translate(20px, 20px);
  }

  @keyframes popUp {
    0%{
      transform: translateY(-50%,0%)scale(0);
    }
    50%{
      transform: translate(-50%,-25%)scale(0.5%);
    }
    100%{
      transform: translate(0%, 0%)scale(1)rotateZ(90deg);
    }
  }
}
