<div class="navfoot">
  <button class="btn plus-btn" (click)="triggerActions()">
    <fa-icon *ngIf="!actionsUp" [icon]="faPlus"></fa-icon>
    <fa-icon *ngIf="actionsUp" [icon]="faMinus"></fa-icon>
  </button>
  <div class="actions" id="action-box">
    <a [routerLink]="['/new-exercise']" ngbTooltip="Exercises" class="btn action-btn"><fa-icon [icon]="faDumbbell"></fa-icon></a>
    <a [routerLink]="['/new-workout']" ngbTooltip="Workouts" class="btn action-btn"><fa-icon [icon]="faScroll"></fa-icon></a>
    <a [routerLink]="['/new-plan']" ngbTooltip="Plans" class="btn action-btn"><fa-icon [icon]="faLayerGroup"></fa-icon></a>


    <button [swal]="logoutSwal"
    class="btn action-btn" ngbTooltip="Logout"
    tooltipClass="myTooltip"><fa-icon [icon]="faDoorOpen"></fa-icon></button>
  </div>
</div>


<!-- MODALE -->
<swal
  #logoutSwal
  title="Are you sure?"
  text="We will miss you!"
  icon="question"
  [showConfirmButton]=true
  [showCancelButton]=true
  confirmButtonColor="#FF7517"
  confirmButtonText="Log me out"
  confirmButtonAriaLabel="Confirm logout"
  cancelButtonAriaLabel="Cancel button"
  cancelButtonColor="#2C2727"
  (confirm)='logout()'
  >
</swal>

