@use '../../../styles.scss';

.navfoot{
  width: 100vw;
  height: 3rem;
  background-color: styles.$orange;
  box-shadow: inset 0px 0 16px 3px #702f00fc;
  position: fixed;
  bottom: 0px;
  .action-btn, .plus-btn{
    width: 3rem;
    height: 3rem;
    background-color: styles.$black;
    border: none;
    border-radius: 20px;
  }
  .plus-btn{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 3px 19px 3px #3e3939;
  }
  fa-icon{
    color:styles.$orange;
    font-size: 1.2rem;
  }
  .action-btn{
    box-shadow: 3px 4px 6px 0px #1f1f1f;
  }
  .plus-btn:active, .action-btn:active{
    background-color: styles.$grey;
  }
  .actions{
    width: 100vw;
    max-width: 300px;
    min-width: 200px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -200%);
  }
  .myToolTip .tooltip-inner{
    transform: translateY(100px)
  }
}

@media screen and (min-width: 768px) {
  .navfoot{
    left: 0px;
    width: 3rem;
    height: 100vh;
    .plus-btn{
      position: absolute;
      top: 10%;
      left: 100%;
      transform: translate(-50%, -50%);
      box-shadow: 0px 3px 19px 3px #3e3939;
    }
    .actions{
      position: absolute;
      left: -31px;
      top: 159px;
      transform: rotateZ(90deg);
      .action-btn{
        transform: rotateZ(-90deg);
      }
    }
  }
  }
