<div class="navfoot">
  <button class="btn plus-btn" (click)="triggerActions()"><fa-icon [icon]="faPlus"></fa-icon></button>
  <div class="actions">
    <button *ngIf="exerciseUp" ngbTooltip="Exercises" class="btn action-btn"><fa-icon [icon]="faDumbbell"></fa-icon></button>
    <button *ngIf="workoutUp" ngbTooltip="Workouts" class="btn action-btn"><fa-icon [icon]="faScroll"></fa-icon></button>
    <button *ngIf="planUp"  ngbTooltip="Plans" class="btn action-btn"><fa-icon [icon]="faLayerGroup"></fa-icon></button>


    <button #target *ngIf="logoutUp" (click)="openModale(content)"
    class="btn action-btn" ngbTooltip="Logout"
    tooltipClass="myTooltip"><fa-icon [icon]="faDoorOpen"></fa-icon></button>
  </div>
</div>


<!-- MODALE -->
<div id="modalpls">

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Are you sure?</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>We will miss you!</p>
      <button type="button" class="btn btn-danger" (click)="modal.close(logout())">Yes, log me out</button>
    </div>
  </ng-template>

</div>
