
@use '../../../../styles.scss';

form{
  h1, h3{
    color: styles.$black;
  }
  button{
    background-color: styles.$grey;
    border: 1px solid styles.$black;
  }
  #newWorkout-btn:active, #addEx-btn:active{
    background-color: styles.$black;
    border: 1px solid styles.$orange;
  }
  #newWorkout-btn:hover, #addEx-btn:hover{
    background-color: styles.$black;
    border: 1px solid styles.$orange;
  }
  .choosing{
    display: flex;
    align-items: baseline
  }
}

