

<div class="inv-page mt-3">
  <div class="inv-modal">

    <div class="inv-title text-center pt-2">
      <p class="mb-0">Your exercises:</p>
    </div>

    <div class="exercises">
      <ul class="p-2 mb-0">
          <li *ngFor="let ex of exInventory">
              <div class="ex-content">
                <div class="ex-name">
                  {{ex?.exercise?.name}}
                </div>
                <div class="ex-reps me-3">
                  {{ex?.reps}}
                </div>
                <div class="times">
                  <fa-icon [icon]="times"></fa-icon>
                </div>
                <div class="ex-series">
                  {{ex?.series}}
                </div>
              </div>

              <div class="actions my-2">
                <button (click)="addExToUser(ex)" class="select-btn">
                  <span>ADD</span>
                </button>
              </div>
          </li>
      </ul>
    </div>

  </div>
</div>
