<app-header></app-header>

<div class="container">
  <div class="search-user">
    <div class="search-bar">
      <input [(ngModel)]="username" (keyup)="$event.keyCode == 13 ? searchUser() : null" type="search" placeholder="Search username" class="form-control">
      <button (click)="clearSearch()" class="clear-btn ms-2">Clear</button>
    </div>

    <h3 *ngIf="usersFound.length >= 1" class="mt-3">USERS FOUND</h3>
    <div class="users-found d-flex justify-content-around flex-wrap gap-3 mb-5">
      <user-found
      (followedUser)="addFollowed($event, user)"
      [user]="user"
      *ngFor="let user of usersFound"></user-found>
    </div>
  </div>

  <div class="pt-user">
    <h3>MY USERS</h3>
    <div class="users-found d-flex justify-content-around flex-wrap gap-3 mb-5">
      <user-found
      (followedUser)="addFollowed($event, user)"
      [user]="user"
      *ngFor="let user of myUsers"></user-found>
    </div>



  </div>
</div>



<app-navfoot></app-navfoot>
