<app-header></app-header>

<div class="container">
  <div class="search-user">
    <input [(ngModel)]="username" (keyup)="$event.keyCode == 13 ? searchUser() : null" type="search" placeholder="Search username" class="form-control">

    <div class="users-found d-flex justify-content-around flex-wrap gap-3 mb-5">
      <user-found [user]="user" *ngFor="let user of usersFound"></user-found>
      <user-found [user]="user" *ngFor="let user of usersFound"></user-found>
      <user-found [user]="user" *ngFor="let user of usersFound"></user-found>
      <user-found [user]="user" *ngFor="let user of usersFound"></user-found>
      <user-found [user]="user" *ngFor="let user of usersFound"></user-found>
      <user-found [user]="user" *ngFor="let user of usersFound"></user-found>
      <user-found [user]="user" *ngFor="let user of usersFound"></user-found>
      <user-found [user]="user" *ngFor="let user of usersFound"></user-found>
      <user-found [user]="user" *ngFor="let user of usersFound"></user-found>
    </div>
  </div>
</div>



<app-navfoot></app-navfoot>
