
<div class="edit-container bounceInUp">

    <div class="edit-head">

      <button (click)="showExercises()" class="edit-forms-btn">
          <fa-icon [icon]="exercise"></fa-icon>
      </button>
      <button (click)="showWorkouts()" class="edit-forms-btn">
          <fa-icon [icon]="workout"></fa-icon>
      </button>
      <button (click)="showPlans()" class="edit-forms-btn">
          <fa-icon [icon]="plan"></fa-icon>
      </button>

    </div>

    <div class="edit-body">

      <div *ngIf="exx">
        <div class="folder-flag">
          <p class="m-0">Exercises</p>
        </div>
        <button (click)="addEx = !addEx" class="new-element mt-2 ms-2">
          <span *ngIf="!addEx">Add exercise</span>
          <span *ngIf="addEx">Close</span>
        </button>

        <add-exercise [userId]="user.id" (outputExercise)="addExercise($event)" *ngIf="addEx"></add-exercise>

        <div class="exercises" *ngFor="let ex of userExercises.reverse()">
            <manage-exercise *ngIf="exx"
              [userId]="user.id"
              [exercise]="ex"
              (exDeleted)="exDeleted($event, ex)"
              (exUpdated)="exUpdated($event, ex)">
            </manage-exercise>
        </div>
      </div>

      <div *ngIf="wrks">
        <div class="folder-flag">Workouts</div>
        <button class="new-element mt-2 ms-2">Add workout</button>
        <div class="workouts" *ngFor="let wrk of userWorkouts">
            <manage-workout *ngIf="wrks" [userId]="user.id" [workout]="wrk"></manage-workout>
        </div>
      </div>

      <div *ngIf="plns">
        <div class="folder-flag">Plans</div>
        <button class="new-element mt-2 ms-2">Add plan</button>
        <div class="plans" *ngFor="let pln of userPlans">
            <manage-plan *ngIf="plns" [userId]="user.id" [plan]="pln"></manage-plan>
        </div>
      </div>

    </div>

</div>
