@use '../../../styles.scss';

.plan, .plan-body{
  max-width: 70%;
  border-radius: 15px;
}
.plan{
  background-color: styles.$orange;
  border: 2px solid styles.$grey;
  .plan-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .exp-btn{
    background-color: styles.$black;
    color: styles.$orange;
  }
  .actions {
    font-size: 1.2rem;
    button{
      background-color: transparent;
      border: none;
    }
  }
}

