

<div class="plan container mt-4 p-0">

  <div class="plan-head">

    <div class="py-2 text-center">
      <h4>{{plan.name}}</h4>
    </div>
    <div>
      <button class="w-100 fw-semibold btn exp-btn" (click)="expand = !expand">
        <div *ngIf="!expand">
          <fa-icon [icon]="angleDown"></fa-icon>
          <fa-icon [icon]="angleDown"></fa-icon>
          <fa-icon [icon]="angleDown"></fa-icon>
        </div>
        <div *ngIf="expand">
          <fa-icon [icon]="angleUp"></fa-icon>
          <fa-icon [icon]="angleUp"></fa-icon>
          <fa-icon [icon]="angleUp"></fa-icon>
        </div>
      </button>
    </div>

  </div>


</div>

<div class="plan-body container" *ngIf="expand">
  <app-workout-card *ngFor="let workout of userWorkouts"
  [workout]="workout"
  [userExercises]="userExercises"></app-workout-card>
</div>
