

<div class="plan container mt-4 p-0">

  <div class="plan-head">

    <div class="plan-title py-2 px-1 text-center">
      <h4>{{plan.name}}</h4>
      <div class="actions ms-4">
        <fa-icon [icon]="faEdit"></fa-icon>&nbsp;&nbsp;
        <button [swal]="deletePlanSwal"><fa-icon [icon]="faTrash"></fa-icon></button>
      </div>
    </div>
    <div>
      <button class="w-100 fw-semibold btn exp-btn" (click)="expand = !expand">
        <div *ngIf="!expand">
          <fa-icon [icon]="angleDown"></fa-icon>&nbsp;
          <fa-icon [icon]="angleDown"></fa-icon>&nbsp;
          <fa-icon [icon]="angleDown"></fa-icon>
        </div>
        <div *ngIf="expand">
          <fa-icon [icon]="angleUp"></fa-icon>&nbsp;
          <fa-icon [icon]="angleUp"></fa-icon>&nbsp;
          <fa-icon [icon]="angleUp"></fa-icon>
        </div>
      </button>
    </div>

  </div>


</div>

<div class="plan-body container" *ngIf="expand">
  <app-workout-card *ngFor="let workout of userWorkouts"
  [workout]="workout"
  [userExercises]="userExercises"></app-workout-card>
</div>

<!-- MODALI -->
<swal
  #deletePlanSwal
  title="Please confirm your choice."
  text="This action is permanent."
  icon="warning"
  [showConfirmButton]=true
  [showCancelButton]=true
  confirmButtonColor="#FF7517"
  confirmButtonText="Delete"
  confirmButtonAriaLabel="Confirm logout"
  cancelButtonAriaLabel="Cancel button"
  cancelButtonColor="#2C2727"
  (confirm)="deletePlan(plan)"
  (didClose)="deleteConfirmSwal.fire()"
  >
</swal>

<swal
  #deleteConfirmSwal
  title="Plan deleted."
  icon="success"
  [timerProgressBar]=true
  [timer]=1500
  >
</swal>
