
@use '../../../../styles.scss';


.exercise-card{
  padding: 10px;
  background-color: styles.$grey;
  border-radius: 15px;
  .exercise-head{
      font-size: 1.2rem;
      color: styles.$orange;
  }
  .exercise-body{
    form{
        .form-controller{
            display: flex;
            justify-content: flex-end;
            width: 85px;
            input{
                width: 30px;
                border-radius: 7px;
                text-align: center;
            }
            label{
                color: styles.$white;
            }
        }
        .btns-container{
            position: relative;
            height: 1px;
            background-color: transparent;
            .btns-box{
                position: absolute;
                bottom: 10px;
                left: 105px;
                width: 100px;
                display: flex;
                justify-content: space-between;
                .action-btn{
                    font-size: 30px;
                    border: none;
                    background-color: styles.$orange;
                    border-radius: 22px;
                    width: 45px;
                    z-index: 1;
                    box-shadow: 0px 1px 20px 3px rgb(0 0 0 / 57%);
                }
                .action-btn:active{
                    box-shadow: none;
                    transform: translateY(2px);
                }
            }
        }
    }
  }
}
