
<div class="user-card mt-3">
  <div class="user-head text-center p-2">
    <h5 class="d-inline fw-bold">
      {{user.username}} <span class="user-id">#{{user.id}}</span>
    </h5>
  </div>
  <div class="user-body">
    <ul class="pt-2 pb-2 px-2 mb-0">
      <li>
        <p class="d-inline">
          Exercises: {{user.userExercisesId.length}}
        </p>
        <button (click)="exerciseDeets()" class="p-0 deets-btn">
          <fa-icon [icon]="angleRight"></fa-icon>
        </button>
      </li>
      <li>
        <p class="d-inline">
          Workouts: {{user.userWorkoutsId.length}}
        </p>
        <button (click)="workoutDeets()" class="p-0 deets-btn">
          <fa-icon [icon]="angleRight"></fa-icon>
        </button>
      </li>
      <li>
        <p class="d-inline">
          Plans: {{user.userPlansIds.length}}
        </p>
        <button (click)="planDeets()" class="p-0 deets-btn">
          <fa-icon [icon]="angleRight"></fa-icon>
        </button>
      </li>
    </ul>

    <div class="follow px-2">
      <button [ngClass]="followed ? 'followed' : ''" (click)="toggleFollowUser()" class="follow-btn w-100">
        <span *ngIf="!followed" class="fw-bold">Follow</span>
        <span *ngIf="followed" class="fw-bold">Unfollow</span>
      </button>
    </div>

  </div>

</div>

<user-details (closeDeets)="closeDeets()" [details]="inputDetails" *ngIf="deets"></user-details>
