
<div class="add-ex-form-container p-2">
  <div class="add-ex-form">

    <div class="from-inventory">
      <button (click)="showExInventory = !showExInventory" class="inventory-btn">
        <span *ngIf="!showExInventory">Add from inventory</span>
        <span *ngIf="showExInventory">Close inventory</span>

      </button>
    </div>

    <ex-inventory (exAdded)="exFromInventory($event)" [userId]="userId" *ngIf="showExInventory"></ex-inventory>

    <form [formGroup]="addExForm" class="p-2" (submit)="postExercise()">

        <div class="my-2">
          <select (change)="getExercise()"
          class="form-select form-select-lg mb-3"
          aria-label="muscle-select"
          formControlName="muscle">
            <option selected value=null>Muscle</option>
            <option *ngFor="let musc of muscles" [ngValue]=musc>{{musc}}</option>
          </select>
        </div>
        <div class="my-2">
          <select class="form-select form-select-lg mb-3"
          aria-label="exByMuscle-select"
          formControlName="exercise">
            <option selected [ngValue]=null>Exercise</option>
            <option *ngFor="let ex of exercises" [ngValue]="ex">{{ex.name}}</option>
          </select>
        </div>

        <div class="reps-series-container">
          <div class="mb-2">
            <input formControlName="reps"
            type="number" class="reps-input"
            id="reps" placeholder="Reps">
          </div>
          <div class="mb-2">
            <input formControlName="series"
            type="number" class="series-input"
            id="series" placeholder="Series">
          </div>
        </div>

        <button
          [ngClass]="addExForm.invalid ? 'disabled' : ''"
          id="newex-btn" class="w-100 btn btn-lg btn-primary mb-2"
          type="submit">Add exercise
        </button>

      </form>

  </div>
</div>


