
@use '../../../../styles.scss';

form{
  h1, h3{
    color: styles.$black;
  }
  button{
    background-color: styles.$grey;
    border: 1px solid styles.$black;
  }
  #newex-btn.disabled{
    background-color: #2c2727;
    border: 1px solid styles.$orange;
  }
  #newex-btn:active, #addEx-btn:active{
    background-color: styles.$black;
    border: 1px solid styles.$orange;
  }
  #newex-btn:hover{
    background-color: styles.$black;
    border: 1px solid styles.$orange;
  }
}
