
@use '../../../styles.scss';

.exercise{
  background-color: styles.$grey;
  border-radius: 5px;
  .ex-details{
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: space-between;
    .name{
      p{
        margin: 0px;
        font-size: 1.1rem;
      }
    }
    .reps{
      flex-shrink: 0;
      .sxr{
        font-size: 1.8rem;
        fa-icon{
          font-size: 1.1rem;
        }
      }
    }
  }
}


