
@use '../../../styles.scss';

.data-container{
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  h4{
    color:styles.$orange;
  }

}

@media screen and (min-width: 768px){

}
