
@use '../../../styles.scss';

.new-plan{
  margin-top: 6rem;
  margin-bottom: 6rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-newplan{
  background-color: styles.$orange;
  min-width: 180px;
  max-width: 400px;
  box-shadow: inset 0px 0 12px 3px #702f00fc;
  border-radius: 10px;
  .raw{
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
  }
}
