<app-header></app-header>

<div class="login">
  <div class="container auth-container">

    <main class="form-signin m-auto p-2">
      <form [formGroup]="form" (submit)="login()">
        <h1 class="h3 mb-3 fw-semibold text-center">WELCOME BACK!</h1>

        <div class="form-floating my-2">
          <input formControlName="username"
          type="name" class="form-control"
          id="floatingInput1" placeholder="Username">
          <label for="floatingInput1">Username</label>
        </div>
        <div class="form-floating my-2">
          <input formControlName="password"
          type="password" class="form-control"
          id="floatingPassword1" placeholder="Password">
          <label for="floatingPassword1">Password</label>
        </div>

        <label *ngIf="formIsValid == false" class="text-danger">*Form is invalid</label>
        <button id="login-btn" class="w-100 btn btn-lg btn-primary mb-2" type="submit">Login</button>

      </form>
    </main>

  </div>

  <div class="register container mt-4 text-center">
    <h2>Don't have an account? Join us!</h2>
    <button [routerLink]="['/register']" id="reg-btn" class=" fw-semibold btn btn-lg btn-primary mb-2">Register here</button>
  </div>
</div>
